.header {
    color: white;
    background: $off-black;
    margin-bottom: $xl-size;
    padding: $m-size 0;
}

// BEM block element modifier
.header__title {
    font-size: 3.2rem;
    margin: 0;
}

.header__subtitle {
    color: $off-white;
    font-size: $m-size;
    font-weight: 500;
    margin: 0;
}

@media (max-width: $desktop-breakpoint) {
    .header {
        margin-bottom: $m-size;
    }
}

