html {
    font-size: 62.5%; //BASE 10 of 16px
}
body {
    font-family: Helvetica, Arial, sans-serif;
    font-size: $m-size;
    background: $dark-blue;
}

button {
    cursor: pointer;
}

button:disabled {
    cursor: default;
}